@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html,
body,
#app {
  width: 100%;
}

body {
  background-color: #FFF;
}

img,
svg {
  display: block;
  width: 100%;
}

button:hover,
button:focus,
button:active,
button:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}